.central-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.cookie-image img{
    width: 300px;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }